<%- include('./partials/header.ejs') %>

  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>
  <% if(user) { %>
    <button type="button" name="button"><a href=/albums/<%= album.id %>/reviews/new>Add A Review</a></button>
  <% } %>
  <h2>Reviews</h2>
  <% reviews.forEach((reviews) => { %>
    <div class="review-div">
      <h6><%= reviews.time_made %></h6>
      <h5>"<%= reviews.review_text %>"</h5>
      <h6>By: <a href=/user/<%= reviews.user_id %> ><%= reviews.name %></a></h6>
      <form class="delete-post" action='/reviews/<%= reviews.review_id %>/delete' method="post">
        <a href=/reviews/<%= reviews.review_id %>/delete><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </form>
    </div>
    <br>
  <% }); %>
  <!-- TODO: implement album reviews -->
<% include('./partials/footer.ejs') %>