<%- include('./partials/header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-auto">
      <img src="<%= user.user_image %>" class="profile-picture-main" >
    </div>
    <div class="col-6 col-md-4 d-flex justify-content-center user-info">
      <div class="wrapper">
        <div>
          <h2><%= user.name %></h2>
          <p>Email: <%= user.email %></p>
          <p>Date Joined: <%= user.date_joined %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-8 posts">
      <h2>Reviews</h2>
    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>