<% reviews.forEach((reviews) => { %>
  <div class="review-div">
    <h4><a href=/albums/<%= reviews.album_id %>> <%= reviews.title %> </a></h4>
    <h6><%= reviews.time_made %></h6>
    <h5>"<%= reviews.review_text %>"</h5>
    <h6>By: <a href=/user/<%= reviews.user_id %>><%= reviews.name %></a></h6>
    <form
    onsubmit="return confirm('Are you sure you would like to delete this review?')"
    class="delete-post" 
    action=/reviews/<%= reviews.review_id %>/delete
    method="post">
      <button type="submit"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
    </form>
  </div>
  <br>
<% }); %>